/* Grundlayout  für die start-page*/
.start-page {
  min-height: 100vh;
  width: 100%;
  background-color: #AFC3DE;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

/* Title für die start-page*/
.start-page h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 18px;
  color: #000;
}

/* Beschreibungstext wie <p>..<p> */
.start-page p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 28px;
  color: #000;
}

/* Buttons, nur Startseite */
.start-page button {
  //width: 220px;
  //height: 52px;
  padding: 16px 32px;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.2;  
  border-radius: 6px;
  border: none;
}

/* Button Farben */
.start-page-btn {
  background-color: #57f214;
  color: #000;
}

.description-btn {
  background-color: #5088F8;
  color: #000;
}

.tips-btn {
  background-color: #F0D838;
  color: #000;
}

/* Hover */
.start-page-btn:hover,
.description-btn:hover,
.tips-btn:hover {
  filter: brightness(1.05);
}
